/* shared css */

.mainDiv {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.keyDiv {
    width: 25%;
    margin: 0px;
    text-align: left;
}

.valueDiv {
    margin: 0px;
    text-align: right;
}


/* country css */
.childCountry {
    width: 60%;
}

.countryCss::after {
    content: '';
    width: 10%;
    background-image: url(https://countryflagsapi.com/svg/gb);
    background-repeat: no-repeat;
    background-size: contain;
}